# /etc/systemd/system/photobooth-app.service
[Unit]
Description=Photobooth Flask Application
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
User=root
WorkingDirectory=/home/pi/photobooth
ExecStart=/home/pi/photobooth/env/bin/python /home/pi/photobooth/app.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target